[SQLAlchemy]
host = db
password =

[session]
secret =

[alembic]
script_location = alembic
sqlalchemy.url = postgres://<username>:<password>@<host>:5432/apollo

# Logging configuration
[loggers]
keys = root, security, sqlalchemy, uvicorn, uvicorn.error, uvicorn.access, alembic

[handlers]
keys = simple, error, access, security, uvicorn

[formatters]
keys = simple, verbose, access, security

[logger_root]
level = WARN
handlers = simple, error
qualname =

[logger_security]
level = INFO
handlers = security, error
qualname = security
propagate=0

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine

[logger_uvicorn]
level = INFO
handlers = uvicorn
qualname = uvicorn
propagate=0

[logger_uvicorn.error]
level = INFO
handlers =
qualname = uvicorn.error

[logger_uvicorn.access]
level = INFO
handlers = access
qualname = uvicorn.access
propagate=0

[logger_alembic]
level = INFO
handlers =
qualname = alembic

[handler_simple]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = simple

[handler_error]
class = StreamHandler
args = (sys.stderr,)
level = ERROR
formatter = verbose

[handler_security]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = security

[handler_uvicorn]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = simple

[handler_access]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = access

[formatter_simple]
format = %(levelprefix)s %(message)s
class = uvicorn.logging.DefaultFormatter

[formatter_verbose]
format = %(levelprefix)s %(asctime)s [%(pathname)s:%(lineno)s] %(message)s
datefmt = %H:%M:%S
class = uvicorn.logging.DefaultFormatter

[formatter_security]
format = %(levelprefix)s %(asctime)s %(message)s
class = uvicorn.logging.DefaultFormatter

[formatter_access]
format = %(levelprefix)s %(client_addr)s - "%(request_line)s" %(status_code)s
class = uvicorn.logging.AccessFormatter
