[SQLAlchemy]
host = db
password =

[session]
secret =

[alembic]
script_location = alembic
sqlalchemy.url = postgres://<username>:<password>@<host>:5432/apollo

# Logging configuration
[loggers]
keys = root, sqlalchemy, uvicorn, uvicorn.error, uvicorn.access, alembic

[handlers]
keys = default, simple, access

[formatters]
keys = default, simple, access

[logger_root]
level = WARN
handlers = default
qualname =

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine

[logger_uvicorn]
level = INFO
handlers = simple
qualname = uvicorn
propagate=0

[logger_uvicorn.error]
level = INFO
handlers =
qualname = uvicorn.error

[logger_uvicorn.access]
level = INFO
handlers = simple
qualname = uvicorn.access
propagate=0

[logger_alembic]
level = INFO
handlers =
qualname = alembic

[handler_default]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = default

[handler_simple]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = simple

[handler_access]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = access

[formatter_default]
format = %(levelname)-5.5s %(asctime)s [%(name)s:%(lineno)s] %(message)s
datefmt = %H:%M:%S

[formatter_simple]
format = %(levelprefix)s %(message)s
class = uvicorn.logging.DefaultFormatter

[formatter_access]
format = "%(levelprefix)s %(client_addr)s - "%(request_line)s" %(status_code)s"
class = uvicorn.logging.AccessFormatter
